[2016-09-06 11:24] buep opened #1 "Migrate all of our Trello board cards to github issues (or docs)"
Our https://trello.com/b/VjyechUc/josra-alliance-administration have mostly tasks and been used a high-level tasks mgmt for Josra.

We decided to move to here in issues - make it public.

[2016-09-06 11:27] buep opened #2 "Define praqma products (product owners and concept owners)"
I started this board: https://trello.com/b/SyoNNmDX/praqma-products

Idea was to define product and concept owners, architects etc.

@sofusalbertsen that relates a bit to what you are doing right now with defining Praqma products.

I will still like the approach with product owners and concept owners... that is important for me. So maybe we should define those roles and have named roles on the pro

[2016-09-06 11:28] buep opened #3 "Prepare this repo for collaboration"
add labels, for our standard way of working...
make an empty readme explaining this is only for issue tracking

[2016-09-06 11:29] buep commented on #3
our waffle https://waffle.io/Praqma/josra

[2016-09-06 11:30] buep opened #4 "Send out personal mails to JOSRA members with preview on our plans"

[2016-09-07 12:14] #3 closed

[2016-09-07 12:43] buep commented on #3
I added the two usual milestone also :-)

[2016-09-07 13:49] sofusalbertsen commented on #2
https://github.com/Praqma/josra/blob/master/tools.md

[2016-09-07 14:02] sofusalbertsen opened #5 "Make product catalog description for 2Git"
Every product has the following:

- Name
-     Logo (will come)
-     URL
-     Short description
-     Long description
-     Feature list
-     System requirements

Example of one of the products can be seen at https://github.com/Praqma/josra/blob/master/tools/Tracey.md

[2016-09-07 14:05] sofusalbertsen opened #6 "Make product catalog description for CC UCM"
Every product has the following:

- Name
-     Logo (will come)
-     URL
-     Short description
-     Long description
-     Feature list
-     System requirements

Example of one of the products can be seen at https://github.com/Praqma/josra/blob/master/tools/Tracey.md

[2016-09-07 14:20] sofusalbertsen opened #7 "Make product catalog description for PIP"
Every product has the following:

- Name
-     Logo (will come)
-     URL
-     Short description
-     Long description
-     Feature list
-     System requirements

Example of one of the products can be seen at https://github.com/Praqma/josra/blob/master/tools/Tracey.md

[2016-09-07 14:21] sofusalbertsen opened #8 "Make product catalog description for MemoryMap"
Every product has the following:
- Name
-     Logo (will come)
-     URL
-     Short description
-     Long description
-     Feature list
-     System requirements

Example of one of the products can be seen at https://github.com/Praqma/josra/blob/master/tools/Tracey.md

[2016-09-07 14:21] sofusalbertsen opened #9 "Make product catalog description for PAC"
Every product has the following:
- Name
-     Logo (will come)
-     URL
-     Short description
-     Long description
-     Feature list
-     System requirements

Example of one of the products can be seen at https://github.com/Praqma/josra/blob/master/tools/Tracey.md

[2016-09-15 07:19] praqma-thi commented on #7
Your initial description was pretty good, just cleaned it up a bit.

[2016-09-15 07:19] #7 closed

[2016-09-15 08:22] #5 closed

[2016-09-15 08:22] praqma-thi commented on #5
Fixed the feature list and polished the description

[2016-09-15 08:24] praqma-thi commented on #6
I'll have @MadsNielsen check if the feature list is sound, then I'll just polish it.

[2016-09-15 11:00] MadsNielsen commented on #6
Looks good to me. Short and concise.

[2016-09-15 11:00] #6 closed

[2016-12-04 20:18] buep opened #10 "Consider the purpose of this repo, and change name to code-alliance"
Old purpose was to be Waffle tracker for all Josra related repos and project issues, but this repo is now also used as issue tracker for Josra work.

New name is code-alliance, so we should:

* rename the repo
* state that is it used to track our project management and other code alliance work as well

[2016-12-04 20:27] buep opened #11 "Reasons for keeping code-alliance (and Josra) related project under our Praqma organisation"
This issue is about two things:

* documenting why we own all the code-alliance project and have placed them on our github project (compared to putting them in a josra or code-alliance Github org.)
* suggesting a setup, where we can ensure that the repositories are owned by a community, not only Praqma (maybe forks?)

Here is an extract of the decision around why they should stay in the Praqma org

[2016-12-06 12:26] buep opened #12 "Follow-up newletter when we have finished this milestone"

[2016-12-06 12:26] buep opened #13 "open up for new member in josra slack"

[2016-12-06 12:26] buep opened #14 "rename slack josra team to code-alliance"

[2016-12-06 12:28] buep opened #15 "Follow-up on sessions regarding pretested integration - create SoW"
See https://trello.com/c/6y4R8fNG/54-pretested-integration-plugin-pip

[2016-12-06 12:29] buep opened #16 "Follow up on automated branch pipeline sessions"
We need some output, many important points in the discussions.

I'm thinking in the line of a blog post that describes the initial idea, the current findings, our POC setup we made for Atmel, and different path we could explore going forward.

[2016-12-06 12:30] buep opened #17 "Consider feedback from members"
Should we set some entry level requirements for next meeting based on feedback from a member?

[2016-12-06 12:31] buep opened #18 "Maka a how-to organize gathering so we can delegate the work of making one to others"

[2016-12-14 09:05] lakruzz opened #19 "SoW on a bunch of Tracey features"

[2016-12-14 09:08] lakruzz opened #20 "Post-event blogpost"

[2016-12-14 09:12] buep commented on #17
We did retrospective today.

[2016-12-14 09:12] #17 closed

[2016-12-17 21:16] lakruzz opened #21 "Call for a FPGA related meeting among Josra members"
@sofusalbertsen mentioned that Napatech would like to call for a meeting among CoDe Alliance members regarding FPGA code.

Later I heard that @bicschneider maybe was already on it.

Let's use this issue here to coordinate! Who does what?

[2016-12-17 21:17] lakruzz commented on #19
@MadsBaggesen -  did you see that I assigned this one for you.

Can you draft - maybe in a google document that you can attach to this issue - the ideas you had for a Tracey feature upgrade for Siemens?

[2016-12-17 21:20] lakruzz commented on #11
Hi @buep - do we need to do more on this one? We all agree - it's basically business as usual, so there's not much to document.

[2016-12-17 21:24] #11 closed

[2016-12-17 21:25] lakruzz commented on #11
I actually added a §5 to our ground rules - that should cover it :-)

[2016-12-17 21:32] lakruzz commented on #13
NO ONE besides praqma people are actually using josra.slack.com - should we revitalize it - or kill it?

btw - I've upped your privileges to _owner_ now you can do anything :-)

[2016-12-17 21:33] lakruzz commented on #14
see my comment on #13 - no one is using the slack team - do we need it?

[2016-12-17 21:35] lakruzz commented on #4
OLD!

[2016-12-17 21:35] #4 closed

[2016-12-17 23:35] bicschneider commented on #21
I have already had a meeting between MAN and NapaTech which I facilitated. The result is that Napa and MAN has agreed on:

- Date: 24. JAN ( as I recall)
- Ping-Pong and agree on an agenda and expectations which they own via email ..
- The meeting will be held at either MAN or NapaTech

Very general I can see a few opens in this respect..

- The hours spent on these meetings are sponsored by whom?

[2016-12-19 09:42] MadsBaggesen commented on #19
@lakruzz Yes, I am aware.

I will coordinate with @martinmosegaard  and @RandomSort and put something together. Hopefully we will have a talk and first draft some use-cases ready before Christmas, but I will not commit to it as we are quite busy already.

[2016-12-19 10:07] Andrey9kin commented on #19
@MadsBaggesen I know that @meekrosoft is considering working on visualization solution so please keep him and me in cc. Thanks!

[2016-12-27 22:05] buep commented on #15
@bicschneider and @sofusalbertsen  - can I get a SoW on the PIP features addressed, discussed and agreed upon on latest code alliance meeting?
I assume you know how to write a SoW of work in context of Code Alliance? Else check JOSRA SoW on josra.org or ask for information about it. Think @lakruzz or I have a guide on it... from earlier.

[2017-01-02 11:24] lakruzz commented on #21
@bicschneider @sofusalbertsen

I only see this reply now, pls next time please either:

1) mention me in your reply or
2) Make sure that the issue is _assigned to me_ AND _has a green label_

Otherwise I will not see you replies.

Back to the topic - there are a few points off confusion

When was that meeting? who participated, Your question regarding who's paying for it, is that related to the me

[2017-01-02 11:33] lakruzz commented on #15
@bicschneider @sofusalbertsen @buep

This is becoming _slightly_ urgent, both to keep up momentum but also because we might have some free capacity in the Code Mines sooner than expected, it would be great to have some useful work do.

Can you start on a draft on google drive and share it, so we can get cracking at it?

[2017-01-02 17:25] sofusalbertsen commented on #15
@lakruzz can I do this friday? At NT the rest of the week.

[2017-01-04 13:03] bicschneider opened #22 "2017 CoDe Alliance (featuring FPGA) topics /agenda"
As a spin-off from CoDe Alliance gathering at Grundfos, NapaTech and MAN Diesel has shown interest in how to handle and do FPGA in a CoDe world and doing a workshop on the topic..

Target list of customers: MAN Diesel, NapaTech, Siemens, Universal Robots, Novelda, Grundfos, Volvo, Atmel.. ( Others ? )

We want to make a CoDe event for our alliance customers with interest in FPGA. First we want to

[2017-01-04 14:13] bicschneider commented on #22
It is expected to be hosted in the Copenhagen Region..

[2017-01-04 14:16] JasmineCrozier commented on #22
Next step: set a date

[2017-01-05 11:37] MadsBaggesen commented on #19
@RandomSort, @martinmosegaard and I had a short coordination session just before Christmas. The output was that the interests of Grundfos and Siemens are different, and we will treat it as two (or more) potential SoWs.

@RandomSort will play the ball for Grundfos regarding triggering using Tracey, will do input for an SoW, but expects the SoW to be done by @Andrey9kin .
@martinmosegaard will talk

[2017-01-11 14:49] sofusalbertsen commented on #15
@lakruzz @bicschneider @buep and also @RandomSort .

Reading up on the background on this SOW makes me doubt there is a SOW potential.
As I see it the basic usecase is the enablement of parallel steps in PiP.
This is possible already in the following way in the configuration of the integration job (PiP job):
![Image of config](https://raw.githubusercontent.com/Praqma/josra/master/img/config.png)
T

[2017-01-18 17:01] buep commented on #15
@sofusalbertsen - I tend to agree with you. I suggest to make a blog post, highlighting the issue we want to solve and how you suggest to solve like above.
We could also mention in there that it will be possible to make more native support in PIP, but this is the simplest way?

@bicschneider - are you using the same setup, or did you share your POC code with someone so they run a local build or wh

[2017-02-09 08:22] buep opened #23 "Update readme with maintainer frontmatter"

[2017-02-09 08:23] #23 closed

[2017-02-18 20:07] #20 closed

[2017-03-24 15:45] JasmineCrozier opened #24 "Draft an invitation for the next CoDe Alliance"
Find details : https://trello.com/b/c7GlWVlz/code-alliance-april-27th

[2017-04-06 13:10] buep commented on #24
isn't this done?

[2017-04-06 13:11] buep commented on #1
I have done this for pac and memorymap... those I care most for.

[2017-04-06 13:11] JasmineCrozier commented on #24
yes done!

[2017-04-06 13:11] #24 closed

[2017-04-06 13:13] buep commented on #1
Oh, it was about moving the trello cards on the alliance board... opening again.

[2017-04-06 13:13] buep commented on #9
Not relevant any more... it is driven now from the BD role project...

[2017-04-06 13:13] #9 closed

[2017-04-06 13:13] buep commented on #8
Not relevant anymore... driving from the BD role project.

[2017-04-06 13:13] #8 closed

[2017-04-06 13:14] buep commented on #2
Not relevant anymore... driving from the BD role project.

[2017-04-06 13:15] #2 closed

[2017-04-12 21:12] lakruzz commented on #19
@martinmosegaard and @RandomSort what is the status on these SoWs?

Any progress since Jan 5th?

[2017-04-18 07:41] martinmosegaard commented on #19
@lakruzz No progress on my side, but Siemens will be represented on 27th April

[2017-04-25 17:01] buep commented on #13
I think we should ask about it Thurday... do they still want to keep it or should we just kill it?

[2017-04-28 05:52] buep opened #25 "Retrospective 6"
Call, organize and follow up on retrospective from 6th gathering.
Preferably make the online meeting Thursday or Friday morning next week so we can also evaluate on SoW getting out.

[2017-04-28 05:54] buep opened #26 "Make josra repo private"
It will be easier not to think about if we put customer details here.

[2017-04-28 05:55] buep opened #27 "Blogpost on 6th gathering"
I'll suggest to highlight we actually did roadmapping this time, we again see many common interest in the group and even new ideas are brought to the table from our members.

[2017-04-28 05:57] buep commented on #27
Also put links to our relevant projects discussed that day.

[2017-04-28 06:14] buep commented on #26
And we don't host anything here by the way, it is only used for task tracking.

[2017-04-28 06:20] buep opened #28 "SoW for PiP pipeline compliant - we have to customers interested"
We need a statement of work on implementing the agreed feature from the workshop.

You can work in the relevant repositories or google drive on the writing, this issues is just tracking we make the SoW, get it to the customers, get approval, plan the work etc.

[2017-04-28 06:21] buep opened #29 "SoW Git Phlow - add Jira support - two customers interested"
We need a statement of work on implementing the agreed feature from the workshop.

You can work in the relevant repositories or google drive on the writing, this issues is just tracking we make the SoW, get it to the customers, get approval, plan the work etc.

[2017-04-28 06:22] buep opened #30 "SoW Git Phlow - add good Windows support - two customers interested"
We need a statement of work on implementing the agreed feature from the workshop.

You can work in the relevant repositories or google drive on the writing, this issues is just tracking we make the SoW, get it to the customers, get approval, plan the work etc.

[2017-04-28 06:24] buep opened #31 "SoW (or planning) related to Tracey/QuTiCon - two customers"
This is more tricky because they are related, and to some extend part of the skattefunn project.

Somehow it need to be a SoW or project defined around this.

I'll let you @lakruzz and @meekrosoft do something about this. @RandomSort you're also involved.

[2017-04-28 06:26] buep opened #32 "FPGA coordination - come up with something"
The FPGA group have some common interest, you need to come up with something @bicschneider  and @sofusalbertsen - maybe suggest them a proof-of-concept on the perfect pipeline to solve their problem.

It needs to be a SoW.

[2017-05-01 21:17] buep opened #34 "Make the repository public again"
We would like to reference the issues in here, in josra slack etc. so we will need it open so our customers can follow that we actually follow-up on gathering.

[2017-05-01 21:20] #34 closed

[2017-05-01 21:21] buep opened #35 "Post updates on josra slack regarding SoW during first week of May"

[2017-05-01 21:22] buep commented on #35
Explain what is cooking and when we will publish and get back with SoW and things to collaborate about.

Ping the channels, or create them if not exists in slack, and get every member on board that showed interest on the 6th gathering.

[2017-05-02 09:07] MadsNielsen commented on #28
Right. I've split the SOW in two for now. 1 detailing the need to add pipeline compatibility, and another detailing the branch context switching. They're stored on our drive in the praqma.customers/CodeAlliance folder on drive. @buep and @bicschneider.

[2017-05-02 17:13] buep commented on #28
I took the liberty to change the format a bit, matching our latest way of writing SoW. Have a look at this Praqma internal Gdoc: https://docs.google.com/document/d/1Dp5I69qlFEWuvjKcVUWRAxyH6tqLskVpSXd4dSqsPok/edit#

Changes are done to explain the problem better, suggest the solution and a few details of implementation.
Does the estimate still holds?

[2017-05-02 17:15] buep commented on #28
Before editing the other, please decide if my version of the one Mads made is better.

[2017-05-02 17:17] buep commented on #28
Regarding the branch context SoW I would like to see some concrete example on the renaming we deliver first. It think we agreed on only 2-3 in our meeting.

[2017-05-02 17:32] buep commented on #31
@RandomSort and @MadsNielsen  can you make sure your notes are available, either on this issue or link to somewhere for Lars, Mike and Andrey.

Mike and Lars will coordinate this project, because it needs to be taking into account the generic and customer specific parts due to funding.

But I think you could maybe make a write-up mean while, so we at least have a conclusion on the meeting, what ou

[2017-05-02 19:10] JKrag opened #36 "SoW 2Git - Add SVN support"
I could use a rough estimate for this for Napatech reasonably soon.
I guess that means I will have to come up with a SoW for it unless the 2Git team has one already in progress?
@drBosse @praqma-thi

[2017-05-02 19:11] JKrag opened #37 "SoW PAC - SVN support"
I could use a rough estimate for this for Napatech reasonably soon.
I guess that means I will have to come up with a SoW for it unless we already have one lying around or in progress?
@MadsNielsen ?

[2017-05-02 20:32] buep commented on #27
@lakruzz I made an outline, and some preliminary writing on a blog post... could you please shortly have a look and tell if there is anything special you have in mind we must mention?

https://docs.google.com/document/d/16A3_yZkYqqJGEBjB3J6hK0IvqqtFtHp1uorFWeqT9A8/edit#

[2017-05-02 20:33] buep commented on #27
assign back to me again

[2017-05-02 20:38] buep commented on #37
Great!

Is it correct understood we need to talk to a SVN server to iterate over changesets? In that case should we test toward a specific server to start with?

[2017-05-02 21:48] MadsNielsen commented on #37
In many ways...i think SVN should be simpler to implement than git. (Commits are numbered).

There are some svn ruby binding available:  https://github.com/dvwright/svn_wc

In PAC all we'd really need is to implement the `get_delta(...)` method. And i assume they do not really branch at all, or use more or less permanent feature branches right?

I'd echo the same estimate we came up during our bri

[2017-05-02 22:59] JKrag commented on #37
In the specific case, branches are very much used - especially long lived branches :-)
I assume that most SVN-projects big enough to consider 2Git instead of simple gitsvn conversion will be using branches heavily.

Branches are "just" folders, and should be reasonably easy to convert. All commits are numbered in a global incremental counter and can be traversed in that order. It should be easy to

[2017-05-03 04:51] buep commented on #37
Isn't your last comment Jan ment for another issue? 2git? We don't commit anything in pac.

[2017-05-03 07:33] JKrag commented on #37
@buep Yes, obviously it is about 2git :-( sorry. "Don't comment issues after midnight".
Just ignore the comment.
I could also delete the comment and this one - is that better?

[2017-05-03 11:40] groenborg commented on #29
jira has its own workflow, so we need input from customers using Jira to figure out how we integrate the Jira workflow in the tool

[2017-05-03 11:44] groenborg commented on #30
We need support for windows and a way to distribute it. We need to consult customers to see if Chocolatey as package manager is a valid option. If customers wants a MSI we can look at that as well

[2017-05-03 12:06] buep commented on #30
Conclusion on follow-up meeting today:

* Jan and Simon work out as many technical details as possible on Friday
* They make a kind of SoW as soon as possible
* They ping Lars and Bue which will continue from there.

[2017-05-03 12:07] buep commented on #29
Conclusion on follow-up meeting today:

* Jan and Simon work out as many technical details as possible on Friday
* They make a kind of SoW as soon as possible
* They ping Lars and Bue which will continue from there.

[2017-05-04 06:51] buep commented on #32
@bicschneider what is status?

[2017-05-04 06:52] buep commented on #28
@MadsNielsen - status please? 2 days since I gave some feedback on the SoW....

[2017-05-04 06:54] buep commented on #31
@RandomSort @MadsNielsen what is status now here 2 days after?

[2017-05-04 07:02] buep commented on #37
@MadsNielsen can you create a briefing issue in PAC so we can discuss the SVN support.
The first comment there will be your short write-up on how would implement it if you were doing it.
If you already know which part of the code, without spending to much time on the details, it would be good to mention it.
Remember also to mention how we can test it....

Please link the issue here.

[2017-05-04 07:07] buep opened #38 "Coordinating all the SoW"
I need a task for this... there is a lot of work in following up I can see.

[2017-05-04 07:42] drBosse commented on #36
@JKrag I think you would have to be more specific about the problem to solve to get an estimate

To start we need to investigate how we can include existing tools in 2git

[2017-05-04 07:50] praqma-thi commented on #36
I'm also a bit hesitant about this. Adding SVN support could be flogging a thoroughly flogged dead horse. Incorporating an existing tool to do the bulk of the work is an option, but then I feel we might as well just add git2git support, right?

I'd love to hear about the usecase, though.

[2017-05-04 10:36] MadsNielsen commented on #28
@buep Im okay with the new format. The only reason i choose the format was because i googled what a formal SOW should contain. I like the compact format you created avoiding bullets. Estimate should still hold.

I've added the scenarios we talked about to the branch context SOW...which we can convert to the compact format if that is what we do.

[2017-05-04 10:59] buep commented on #28
Great - can you make the context branch SoW a bit simpler?
 ...less bullets, make sure to formulate the problem so it is very clear what exact problem we try to solve.

Then I think they are ready.

[2017-05-05 09:39] buep commented on #37
We grooming the technical part in https://github.com/Praqma/Praqmatic-Automated-Changelog/issues/103 before making the final SoW

[2017-05-05 10:10] buep commented on #35
I created some missing channels based on topics from 6th gathering.
I made a short summary post message in 6th gathering, pointing to this boards and explaining we will continue in smaller groups in the channels.

I'll hand out the responsibility within Praqma to continue the dialogue there.

[2017-05-05 10:10] #35 closed

[2017-05-05 10:13] buep commented on #28
@MadsNielsen could you go over the branch context SoW and fit it to our new format?

[2017-05-05 10:20] buep commented on #27
I'll take this back as I have been writing more... it will be ready during next week I think.

[2017-05-05 10:46] MadsNielsen commented on #28
@buep There you yo i edited the branch context SoW: https://docs.google.com/document/d/1Nrd4VZLgRR0INCkqgT7oZWMxZ74WYVMcF8IfalhnOwE/edit#

[2017-05-05 11:16] buep commented on #28
Cool, I'll read it.

Any good inputs how we publish these sow now and in the future?

[2017-05-05 11:55] JKrag commented on #30
Draft for SoW can now be found at https://docs.google.com/a/praqma.net/document/d/1pXX0MvWDKHBvCDeWfMYZY4k0TxbUTSesy17x_RJOVpc/edit?usp=sharing

@buep Can you have a quick look and give feedback?

[2017-05-05 12:23] JKrag commented on #29
First draft of SOW at https://docs.google.com/a/praqma.net/document/d/1omYdz3kaSSAQn0NwoauDQmJq1qHBI8rs73BR8kmmyLs/edit?usp=sharing

[2017-05-07 20:25] buep commented on #30
Edited the SoW... and few comments... go have a look and accept suggestions etc.

[2017-05-07 20:39] buep commented on #29
Feedback in the document...

[2017-05-07 20:46] buep commented on #32
SoW proposal from @sofusalbertsen https://docs.google.com/document/d/1ojoitlvIbZpw2vREhmCl3vMVYHISb3SUNrmIjczhXeg/edit# (Praqma internal document for now)

[2017-05-16 13:54] buep commented on #32
Sofus sent out the SoW on mail... we will be following up trying to take the discussion to JOSRA slack so everyone can follow.

[2017-05-16 13:54] #32 closed

[2017-05-16 13:55] buep commented on #38
Status:

* FPGA sent out on mail.... will need to follow up on it and take the discussion to josra slack so we can have other members follow

[2017-05-16 13:57] buep opened #39 "Publish SoW (somewhere)"
Take all SoW public... published somewhere - yet to be determined.

Delete the old ones... to avoid confusion (maybe replace content in the Gdocs with a link the public one.

[2017-05-17 11:48] buep commented on #29
@groenborg and @JKrag  are you aware of https://www.npmjs.com/package/jira-git and how you think it ties together with git phlow etc. ?

[2017-05-17 15:35] buep commented on #28
Finished the SoW... find them here:

https://github.com/Praqma/pretested-integration-plugin/tree/master/docs/SoW

[2017-05-17 15:36] #28 closed

[2017-05-17 22:17] buep commented on #27
Online now... http://www.praqma.com/stories/code-alliance-6th-gathering/

[2017-05-17 22:17] #27 closed

[2017-05-18 08:38] JasmineCrozier commented on #25
@buep Sorry I kind of dropped the ball on that one. Things got a bit messy for me with Embedded Day in Oslo the next week, and the restructuring of the marketing team.
Thanks for planning the call!!

[2017-05-18 09:00] buep commented on #36
Ping @drBosse @praqma-thi - issue is awaiting feedback... and shows up in filter as unread!

[2017-05-18 09:43] sofusalbertsen commented on #36
@JKrag why not use the already working git-svn conversion tool that exists?
https://www.atlassian.com/git/tutorials/svn-to-git-prepping-your-team-migration

[2017-05-18 12:23] buep commented on #31
I sent @MadsNielsen and @RandomSort  a personal mail now...

[2017-05-18 13:00] praqma-thi commented on #36
As part of the issue Bosse referenced, I added a [roadmap entry for SVN support](https://github.com/Praqma/2git/blob/master/docs/roadmap/svn-support.md).

It's not particularly detailed, but it could be start of a SoW.

[2017-05-18 13:05] praqma-thi commented on #36
Had a chat with @chopse, he mentioned a customer of his is also interested in 2git's SVN support, since their repositories have gone through unconventional changes over the years, causing standard migration tools to choke.

[2017-05-22 07:52] buep commented on #38
Resolving this, I'm the only one working on it currently so not much too coordinate. Will make sure the last SoW goes out.

[2017-05-22 07:52] #38 closed

[2017-05-22 07:52] buep commented on #39
They are being published to docs /SoW/name ... for the other project. I made that a decision for now.

[2017-05-22 07:52] #39 closed

[2017-05-22 08:14] RandomSort commented on #31
Sorry for the lack of communication.
The current status is that @MadsNielsen will do a two-day workshop on-site with Flemming.
We should be able to move Tracey from the PoC state that it is in at the moment to an actually running MVP.
Focus will be on ease of generating, and adding new events.
And the simplest possible visualization in Neo4J.

The hope is that this will be enough to convince other

[2017-05-22 14:55] buep commented on #29
@groenborg @JKrag - I finished the SoW - please read through and comment also on the estimate Simon.

https://docs.google.com/document/d/1omYdz3kaSSAQn0NwoauDQmJq1qHBI8rs73BR8kmmyLs/edit#

[2017-05-22 14:56] buep commented on #30
@groenborg @JKrag - I finished the SoW - please read through and comment also on the estimate Simon.

https://docs.google.com/document/d/1pXX0MvWDKHBvCDeWfMYZY4k0TxbUTSesy17x_RJOVpc/edit

[2017-05-22 15:01] buep commented on #12
Not relevant any more - it was 5th gathering. Closing.

[2017-05-22 15:01] #12 closed

[2017-05-22 15:02] buep commented on #13
Not relevant any more - it was 5th gathering. Closing.

[2017-05-22 15:02] #13 closed

[2017-05-22 15:02] buep commented on #14
Not relevant any more - it was 5th gathering. Closing.

We will get the same idea later if still relevant...

[2017-05-22 15:02] #14 closed

[2017-05-22 15:03] buep commented on #15
Not relevant any more - it was 5th gathering. Closing.

We have a SoW out now this time with more or less the same features plannen, see #28

[2017-05-22 15:03] #15 closed

[2017-05-22 15:04] buep commented on #16
Not relevant any more - it was 5th gathering. Closing.

[2017-05-22 15:04] #16 closed

[2017-05-22 15:06] buep commented on #10
rebranding... making a new issue for that ... closing.

[2017-05-22 15:06] #10 closed

[2017-05-22 15:06] buep commented on #19
Not relevant any more, closing.

[2017-05-22 15:06] #19 closed

[2017-05-22 15:06] buep commented on #18
Still relevant, moving to backlog.

[2017-05-22 15:08] buep opened #40 "Rebranding Josra to Code Alliance or reverse it again?"
Related to #10 and #14 we are in a limbo regarding Code Alliance name vs. Josra name on:

* slack
* repository
* website josra.org vs praqma.com

[2017-05-22 15:23] buep commented on #31
@MadsNielsen promised to give a status in josra slack and close this issue with a link to it

[2017-05-23 12:02] buep opened #41 "Follow up on still missing SoW"
#30, #29 and #31 and #33

[2017-05-23 14:33] MadsNielsen commented on #31
Wrote wrapup in a post: https://josra.slack.com/files/mads-nielsen/F5GS2645S/Tracey_QuTiCon_Status

[2017-05-23 14:33] #31 closed

[2017-05-24 07:42] #25 closed

[2017-05-24 09:23] buep opened #42 "Decide on geo location and host for 7th gathering - save the date mail before summer"

[2017-05-24 09:25] buep opened #43 "Newletter about 6th gathering and next gathering dates and location"
Would like a news letter, as we have done earlier, about some of the things from from 6th gathering:

* the already published SoW
* the blog post

and a date and location for the 7th gathering when decided in #42

[2017-05-24 09:28] buep opened #44 "Call for general code-alliance/Josra retrospective"
An input from our retrospective on the 6th gathering, is that we will like to evaluate the complete setup around josra/code-alliance.

It should later in the year, when we actually can evaluate our focused effort after the 6th gathering.

[2017-05-24 09:30] buep opened #45 "Collect feedback from members about best ways funding SoW"
We will ask our members what fit them best in regards to paying for the work we plan at the gatherings, e.g. shared SoW etc. Should it be consultant hours, specific invoices etc.

[2017-05-24 09:49] buep opened #46 "What about the name - Josra or Code Alliance"
We're already discussing this - we need to continue this and find a good solution.

I would like the end goal to be maybe short teaser on our thought in the newletter #43 so we could maybe get early feedback from the members.

[2017-05-24 09:52] buep opened #47 "Plan the future publishing of SoW"
It have changed a lot... we need a firm future solution where they look good and communicate the message.
It might need to be part of a repository... as I made them today from the closed #39

[2017-05-24 10:17] buep opened #48 "Could blue-prints be part of of Josra/code alliance?"
I still need a good place to put blueprints... https://github.com/Praqma/praqma.com/issues/441

[2017-05-24 12:01] buep commented on #29
I got feedback from @JKrag  - thanks. I'll publish the Sow.

[2017-05-24 12:44] buep commented on #29
closed with https://github.com/Praqma/git-phlow/commit/1deb88cf79f40c6e7a7cc7ff9b81b7c9461d6025

[2017-05-24 12:44] #29 closed

[2017-05-24 13:03] JKrag commented on #29
Looks fine to me. I guess we can also close #100 now, as I see it as a duplicate of this one? Or is it left for the actual implementation of this SoW?

[2017-05-24 13:03] buep commented on #30
closing this with this issue https://github.com/Praqma/git-phlow/issues/109

[2017-05-24 13:03] #30 closed

[2017-05-24 13:09] buep commented on #41
We have the rest out - EXCEPT the one about configurable target branch support.

https://github.com/Praqma/josra/issues/33

I took that back on the backlog.

[2017-05-24 13:09] buep commented on #41
closing this.

[2017-05-24 13:09] #41 closed

[2017-05-24 13:17] buep opened #49 "Make issues out of the retrospective observations from 6th gathering"
There are some very good take-aways we need to follow up on.

I would like to go over the cards and make the workable tasks for later milestones then mark the card "handled" by a label.

[2017-05-29 11:41] buep opened #50 "Follow-up on all statements and work and who is interested"

[2017-05-29 11:42] buep commented on #50
All SoW:

https://github.com/Praqma/git-phlow/blob/master/docs/SoW/windows-support.md
https://github.com/Praqma/git-phlow/blob/master/docs/SoW/jira-bitbucket-support.md

https://github.com/Praqma/pretested-integration-plugin/blob/master/docs/SoW/branch-context.md
https://github.com/Praqma/pretested-integration-plugin/blob/master/docs/SoW/pipeline-job-compliance.md

https://github.com/Praqma/josra/

[2017-06-06 11:18] buep opened #51 "Plan a demonstration for customer of git-phlow"
Notes from meeting with @drBosse and @groenborg.

Demonstrate it for two groups of not native developers (it-people and analysis/algorithm people).

Focus on communicating that git-phlow makes it simple to use git, and it they agree on our flow git can be really simple and easy and make less training needed to start with.

So the demo need to include context of the Phlow, and then that the git-phl

[2017-06-06 11:25] groenborg commented on #51
I would like to have more details about how it phlow fits Volvo from @drBosse and some background information about phlow from @buep

[2017-06-06 12:03] buep commented on #51
@groenborg  a bit of history to read about our automated phlow and why... http://www.josra.org/blog/An-automated-git-branching-strategy.html

It is a history of why we made our own instead of the git-flow that is also very popular.

And a lot of pros and cons in the discussion.

[2017-06-06 12:03] buep commented on #51
Beside that the background I think of is that we made it to simplify working with git and support automation....

[2017-06-06 13:00] groenborg commented on #51
@buep Awesome.. I will get right at it!

[2017-06-06 13:04] groenborg commented on #51
I will create the slide deck in Praqma/reveals and have created an associated issue Praqma/reveals#43

[2017-06-19 13:30] drBosse commented on #51
Talked to Samuel about this last week, just forgot to update, he will check what dates might work for the project. Hope to have more info after this weeks sync meeting on Wednesday

[2017-06-26 08:59] buep commented on #37
I guess this wasn't relevant anymore, so I'm moving it out of Runway and awaiting state.

[2017-06-27 05:50] drBosse commented on #36
@JKrag This is still open, are you not happy with the response?

[2017-06-29 16:16] buep commented on #37
I'm closing it - open a new if you need it or work the one in PAC.

[2017-06-29 16:16] #37 closed

[2017-07-06 13:53] buep commented on #50
Going to react on SoW related Git Phlow and Prested Integration plugin.

[2017-07-06 13:55] buep commented on #50
I lowered the estimate, as it doesn't now include all SoW. New issues on the rest later.

[2017-07-06 14:31] buep commented on #50
Did send out a mail now to stakeholder for Git Phlow and PIP SoW.

[2017-07-07 19:08] buep commented on #50
progress - meeting with Kamstrup on Monday

[2017-07-10 12:00] buep commented on #51
Moved to backlog... we are not prioritizing it as we're waiting for customer.

[2017-07-10 14:18] buep opened #52 "SoW/blueprint for JenkinsAsCode project"
Sharing knowledge and development and joining forces between the customers running JAC

[2017-07-10 14:20] buep commented on #50
done, we have agreed to look continue with further details with Kamstrup around git phlow and PIP pipeline support.

[2017-07-10 14:20] #50 closed

[2017-07-12 12:07] buep opened #53 "SoW/BluePrint JenkinsAsCode follow-up - publish to customers"

[2017-07-12 12:08] buep commented on #52
I'm going to to close this after talking to @ewelinawilkosz2 today, as she will be writing the blueprint with the new ideas of how to fix JAC to become a maintainable product for us and users.
She will continue in the document.

I created #53 so we can follow-up on next month.

[2017-07-12 12:08] #52 closed

[2017-07-18 07:59] buep commented on #42
Status ? Closeable? Are you working on a mail to send out?

[2017-07-31 15:06] JasmineCrozier commented on #42
Awaiting date confirmation from Samuel.

[2017-08-21 09:56] buep opened #54 "FPGA pipelines - any news?"
Did it get implemented outside Josra? Can we help share the news in that case?

Is it still relevant?

[2017-08-21 09:57] buep opened #55 "Plan next gathering - 7th - and program"
Should probably include something about Tracey and QuTiCon or the mix of them.

Christians thesis work (Odense), talk to Volvo and Grunfos.

[2017-08-21 09:59] buep opened #56 "Windows compliance in git-phlow - follow-up and announcement"

[2017-08-21 10:00] buep opened #57 "Minimal website and rebranding of josra before next call for gathering"
New mini-site up and rebranding josra slack before we call for new gathering and save the date mail.

Should be today or latest tomorrow - Bue and Lars.

[2017-08-22 13:37] buep commented on #53
Status?

[2017-08-22 13:38] buep commented on #42
I guess that dates are confirmed?

[2017-08-22 13:48] JasmineCrozier commented on #42
@buep Yes they are.
The only things missing are the list of guests from Samuel, and the updated code alliance website.

When can we send the invitation @lakruzz ?
Will one of you have a last look at our list of guests?
https://docs.google.com/spreadsheets/d/1U_VYEuXNf7Qm0WMuQImTRonMrv7mBzKWYGQ7Luv72g0/edit?usp=sharing

[2017-08-22 14:00] buep commented on #42
I didn't get why we need the guest list from Samuel? We will invite people -won't we? Or do you mean just his colleagues from Volvo that will join us because we're on their site?

[2017-08-22 14:01] buep commented on #42
I'll close this... Jasmine, we will plan more issues on Thursday needed to do the 7th gathering

[2017-08-22 14:01] #42 closed

[2017-08-22 14:11] JasmineCrozier commented on #42
Because he has suggested some eiffel experts I think

[2017-08-23 05:48] ewelinawilkosz2 commented on #53
I asked couple of people for opinion. I got one from Lars: "I read your document, I love the approach - I'm just anxious to see it run :-)" And I also got some help from Andrey

If you accept it I will save it in Blueprints in our google drive

[2017-08-23 07:39] buep commented on #53
Can I get a link to the latest version?

What did Lars mean by that?

[2017-08-23 07:41] ewelinawilkosz2 commented on #53
I'm hoping to talk with him tomorrow
https://docs.google.com/document/d/12jAbG74jzunkptycb4Tp7NnFVFUgk6LLYhsjpUeGDC8/

[2017-08-24 08:28] buep opened #58 "MoM 2017-08-24 Bue/Jasmine first planning efforts of 7th gathering"

[2017-08-24 08:43] buep commented on #58
@JasmineCrozier

* We will continue with a spreadsheet like last time - we need to go over it.
* The same spreadsheet will have the agenda in another sheet.
* Practical details like lunch, leaving rooms etc. is going on the agenda.
  * First start 11 AM, but welcome to come 10-11 AM

Save the date mail - waiting on slack rename and minisite update.

Second mail next week, with preliminary elaborat

[2017-08-24 08:45] buep commented on #58
From here on I will groom issues and label them with grey label `alliance7th` so we can track them. Any work in any other repo related to this should be labeled this way.
We will use label, not milestone for progress tracking.

I'll close this when the above is groomed.

[2017-08-24 08:55] JasmineCrozier commented on #58
Here is the spreadsheet: https://docs.google.com/spreadsheets/d/1U_VYEuXNf7Qm0WMuQImTRonMrv7mBzKWYGQ7Luv72g0/edit?usp=sharing

[2017-08-27 08:09] #36 closed

[2017-08-28 07:50] JKrag commented on #36
Thanks Bosse. I think Thierry's writeup is fine for what I need for now. Thanks for closing the issue.

[2017-08-28 07:50] buep commented on #57
@lakruzz @JasmineCrozier I'm good with the new alliance.praqma.com site...

I found out about renaming the slack channel also... will do that very soon.

[2017-08-28 07:54] buep commented on #57
I will rename josra.slack.com to `codealliance.slack.com` and until someone else takes the old name `josra` it will redirect to our new one.

I'll need a new issues to ask everyone to update their url.

https://get.slack.help/hc/en-us/articles/201663443-Change-your-team-name-or-URL

[2017-08-28 07:58] buep commented on #57
codealliance.slack.com is unavailable !

[2017-08-28 08:05] buep commented on #57
So we will try codeall.slack.com instead of using  hyphen @lakruzz suggest.

[2017-08-28 09:13] buep commented on #57
Also unavailable is  `codeall`, `code-alliance` ... so we decided to keep josra.slack.com and explain why - if someone asks - why we still have that. Historical reason and that we couldn't get a good match on our new name in a good way.

Name of team is updated though to `Continuous Delivery Alliance`

@JasmineCrozier - your news mail can thus contain our old slack name called `josra.slack.com`

[2017-08-28 09:13] #57 closed

[2017-08-28 09:14] buep opened #59 "Change icon on josra.slack.com"
We changed team name on slack, but kept the josra.slack.com url because there was no one better. #57

But we need a new icon... current one is slack.

[2017-08-28 09:15] buep commented on #59
either you fix it Lars og send me an icon when we have it.

[2017-08-28 11:29] buep commented on #58
cleaned 3 people... spreadsheet good.

We can make a second batch.

[2017-08-28 12:37] lakruzz commented on #59
@buep It should pop up here:
https://github.com/Praqma/phablework/issues/79

as soon as JC is done with it!

[2017-08-28 12:43] lakruzz commented on #59
<img width="59" alt="alliance square" src="https://user-images.githubusercontent.com/155492/29773795-422004b6-8bff-11e7-8185-e6706597db20.png">

@buep - while we wait - lt's use this one!

[2017-08-28 13:03] buep commented on #59
Done, your temporary one uploaded

[2017-08-29 13:12] buep commented on #59
seems like this is not going to be done for the next while, so I'll just close this issue and if I get pinged about a new logo I might upload the new one.

[2017-08-29 13:12] #59 closed

[2017-08-30 13:00] buep commented on #51
I'm closing this - reopen or create a new one later if needed.

[2017-08-30 13:00] #51 closed

[2017-08-30 13:01] buep commented on #55
# Goal

Make a draft to the agenda with topics in the spreadsheet.

[2017-08-30 13:04] buep commented on #46
Decision was made on slack to alliance.praqma.com as website, and the name `The Continuous Delivery Alliance`.

slack can't be renamed, not nice available name see #14.

New website have been created, content isn't moved.

[2017-08-30 13:04] #46 closed

[2017-08-30 13:04] buep commented on #43
save the date mail is sent. I'm closing.

[2017-08-30 13:04] #43 closed

[2017-08-30 13:05] buep commented on #40
Decision was made on slack to alliance.praqma.com as website, and the name `The Continuous Delivery Alliance`.

slack can't be renamed, not nice available name see #14.

New website have been created, content isn't moved.

[2017-08-30 13:05] #40 closed

[2017-08-30 13:11] buep commented on #58
These issues existed and are relevant:

* https://github.com/Praqma/josra/issues/55
* https://github.com/Praqma/josra/issues/18

I also cleaned a few issues and closes some other.

I'll write new issues.

[2017-08-30 13:13] buep opened #60 "Call for lightening talks and demos internally in Praqma"
Who have something genuinely interesting to present...

I think Sofus have something around Artifact management and Jan around BOM (build of material) gradle plugin.

[2017-08-30 13:14] buep commented on #60
Part of 7th gathering planning (#58). Also added label.

[2017-08-30 13:20] buep opened #61 "Make an expected work-load write-up for praqma people"
What is expected of those who attend?

- read how to run workshops
- run workshops
- write-statement of work
- review statement of work
- follow-up with your customers on statement of work
- attend post-gathering meeting
- write a blogpost kind of maybe

Hours?

[2017-08-30 13:20] buep opened #62 "Call for who is going from Praqma"
Set guidelines before calling for who will join - they need to know what to sign-up for - see #61

[2017-08-30 13:20] buep commented on #62
Get people to sign-up, so we can select who is going.

[2017-08-30 13:21] buep commented on #62
Part of 7th gathering planning (#58). Also added label.

[2017-08-30 13:21] buep commented on #61
Part of 7th gathering planning (#58). Also added label.

[2017-08-30 13:24] buep opened #63 "Write a blog post - teaser on the next gathering (publish October)"

[2017-08-30 13:31] buep commented on #63
See also praqma.com/#1004

[2017-08-30 13:45] buep commented on #58
I'm closing.

Found also #49 to be relevant.

[2017-08-30 13:45] #58 closed

[2017-09-01 12:24] buep commented on #60
Something you like to demo? it is your ticket into this meeting

[2017-09-05 14:27] buep commented on #53
I'll close this - we have new strategy on it's way after tomorrow, and will re-use the same document or create a new one.

[2017-09-05 14:27] #53 closed